<% if @tips.present? %>
  <section class="mb-6">
    <%= render "shared/ui/section_header", title: t("dashboard.show.todays_tips.title"), variant: "overline" %>
    <div class="space-y-3">
      <% @tips.each do |tip| %>
        <%= render partial: "shared/ui/card_tip", locals: {
          content: tip,
          favorite_ids: @favorite_ids
        } %>
      <% end %>
    </div>
    <%# Figma: "Tutti i Consigli →" link after tip cards %>
    <div class="text-right mt-3">
      <%= link_to archive_index_path, class: "shuby-link-arrow" do %>
        <%= t("dashboard.show.todays_tips.view_all") %>
        <span class="shuby-link-arrow-icon"><%= render_svg "shuby/icons/icon-arrow-right" %></span>
      <% end %>
    </div>
  </section>
<% end %>
