<% if @featured_articles.present? %>
  <section class="mb-6">
    <div class="shuby-carousel-header">
      <h2 class="shuby-carousel-title">
        <%= t("dashboard.show.featured_articles.title") %>
      </h2>
    </div>

    <%= render layout: "shared/featured_carousel" do %>
      <% @featured_articles.each do |article| %>
        <%= render partial: "shared/ui/card_article", locals: {
          content: article,
          variant: "vertical",
          favorite_ids: @favorite_ids
        } %>
      <% end %>
    <% end %>

    <div class="text-right mt-3">
      <%= link_to archive_index_path, class: "shuby-link-arrow" do %>
        <%= t("dashboard.show.featured_articles.view_all") %>
        <span class="shuby-link-arrow-icon"><%= render_svg "shuby/icons/icon-arrow-right" %></span>
      <% end %>
    </div>
  </section>
<% end %>
