<% if current_account.needs_profile_completion_nudge? %>
  <section class="mb-4">
    <%= link_to edit_family_profile_path, class: "shuby-profile-nudge-banner" do %>
      <div class="shuby-profile-nudge-banner-icon">
        <%= render_svg "shuby/icons/icon-account", size: :md, decorative: true %>
      </div>
      <div class="shuby-profile-nudge-banner-content">
        <h3 class="shuby-profile-nudge-banner-title">
          <%= t("dashboard.show.complete_profile.title") %>
        </h3>
        <p class="shuby-profile-nudge-banner-subtitle">
          <%= t("dashboard.show.complete_profile.subtitle") %>
        </p>
      </div>
      <%= render_svg "shuby/icons/icon-chevron-right", size: :md, decorative: true %>
    <% end %>
  </section>
<% end %>
