<% Current.meta_tags.set(title: t(".title")) %>

<div class="min-h-screen bg-white dark:bg-gray-900 w-full max-w-full">
  <%= render "shared/dashboard_header/dashboard_header" %>

  <div class="w-full mx-auto px-4 py-6 pb-24 lg:max-w-lg">

    <%= render "dashboard/age_growth_phase" %>

    <%= render "dashboard/milestone_box" if current_child.present? %>

    <%= render "dashboard/measurement_boxes" if current_child.present? %>

    <% family_profile = current_account.family_profile %>
    <% profile_incomplete = !family_profile&.profile_complete? || current_account.children.any? { |c| c.profile_completeness_percentage < 50 } %>
    <%= render "dashboard/section_profile_banner", profile_incomplete: profile_incomplete %>

    <%= render "dashboard/section_nav_cards" %>

    <%= render "dashboard/section_activities" %>

    <%= render "dashboard/section_tips" %>

    <%= render "dashboard/section_featured" %>

  </div>
</div>

<% content_for :bottom_nav do %>
  <%= render "shared/shuby_bottom_nav", active: "oggi" %>
<% end %>
