<% Current.meta_tags.set(title: t(".title")) %>
<% content_for :hide_navbar, true %>

<div class="min-h-screen w-full bg-white dark:bg-gray-900">
  <%= render "shared/dashboard_header/dashboard_header" %>

  <%# Zone 1: Full-bleed blue hero background (Figma: blue-300 / #E5F2FF) %>
  <div class="bg-shuby-blue-300 w-full">
    <div class="mx-auto max-w-lg px-4 pt-4 pb-8">
      <%= render "dashboard/age_growth_phase" %>
    </div>
  </div>

  <%# Zone 2: White content area %>
  <div class="w-full mx-auto px-4 pb-24 lg:max-w-lg">

    <%= render "dashboard/milestone_box" if current_child.present? %>

    <%= render "dashboard/section_activities" %>

    <% family_profile = current_account.family_profile %>
    <% profile_incomplete = !family_profile&.profile_complete? || current_account.children.any? { |c| c.profile_completeness_percentage < 50 } %>
    <%= render "dashboard/section_profile_banner", profile_incomplete: profile_incomplete %>

    <%= render "dashboard/measurement_boxes" if current_child.present? %>

    <%= render "dashboard/section_tips" %>

    <%= render "dashboard/section_featured" %>

  </div>
</div>

<% content_for :bottom_nav do %>
  <%= render "shared/shuby_bottom_nav", active: "today" %>
<% end %>
