<%= form_with(model: [@account, account_user]) do |form| %>
  <%= render "error_messages", resource: form.object %>

  <h5 class="mb-2"><%= t("accounts.roles") %></h5>
  <div class="form-group">
    <% AccountUser::ROLES.each do |role| %>
      <div class="form-picker-group">
        <%= form.check_box role, id: role.to_s.parameterize, disabled: role == :admin && account_user.account_owner? %>
        <label for="<%= role.to_s.parameterize %>"><%= role.to_s.humanize %></label>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.button class: "btn btn-primary" %>
    <%= link_to t("cancel"), @account, class: "btn btn-secondary" %>
  </div>
<% end %>
