<% Current.meta_tags.set(title: t(".title")) %>

<% content_for :sidebar, render(partial: "account_navbar") %>

<div class="flex justify-between items-center">
  <div class="flex items-center gap-4">
    <%= account_avatar @account %>
    <h1 class="h3">
      <%= link_to @account.name, @account, class: "text-black dark:text-gray-50" %>

      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="inline-block w-5 h-5 text-muted">
        <path fill-rule="evenodd" d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
      </svg>

      <%= @account_user.user.name %>
    </h1>
  </div>

  <% unless @account_user.account_owner? %>
    <%= button_to t("delete"), account_account_user_path(@account, @account_user), class: "btn btn-danger btn-outline", data: { turbo_method: :delete, turbo_confirm: t("are_you_sure") } %>
  <% end %>
</div>

<p class="my-4 text-sm text-muted"><%= t(".description", user: @account_user.user.name || @account_user.user.email) %></p>

<%= render "form", account_user: @account_user %>
