<div data-controller="modal">
  <%= component.content %>

  <%= tag.dialog class: component.container_class, data: {modal_target: "dialog", action: "click->modal#backdropClose"} do %>
    <%= tag.div class: component.card_class do %>
      <% if component.close_button? %>
        <button type="button" data-action="modal#close:prevent">
          <%= render_svg "shuby/icons/icon-close", size: :sm, decorative: true %>
          <span class="sr-only">Close</span>
        </button>
      <% end %>

      <% if component.body? %>
        <div>
          <%= component.body %>
        </div>
      <% end %>

      <% if component.actions? %>
        <div>
          <%= component.actions %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
