<% scope = "questionnaire_sessions.show" %>

<% if session.needs_attention? %>
  <div class="shuby-callout shuby-callout--giallo mb-6">
    <div class="shuby-callout-body">
      <div class="shuby-callout-icon">
        <%= render_svg "shuby/icons/icon-pediatrics", size: :lg, decorative: true %>
      </div>
      <div class="shuby-callout-content">
        <h3 class="shuby-h3 mb-2"><%= t("attention_title", scope: scope) %></h3>
        <p class="shuby-p1 mb-4"><%= t("attention_message", scope: scope) %></p>

        <div class="shuby-callout-actions">
          <%= link_to t("suggestion_shuby", scope: scope), shuby_chats_path, class: "shuby-btn shuby-btn-sm shuby-btn-outline shuby-btn-block" %>
          <p class="shuby-caption"><%= t("suggestion_pediatrician", scope: scope) %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>
