<% content_for :title, t(".title") %>
<% content_for :page_type, "detail" %>

<div class="container px-4 mx-auto my-8 pb-24">
  <%= render "shared/ui/back_link",
      path: child_development_stages_path(@child),
      label: @area.name,
      class: "mb-6" %>

  <%= render "questionnaire_sessions/section_summary", session: @session, questionnaire: @questionnaire, child: @child %>
  <%= render "questionnaire_sessions/section_attention_alert", session: @session %>
  <%= render "questionnaire_sessions/section_warning_signs", warning_signs: @warnings %>
  <%= render "questionnaire_sessions/section_stimulation_activities", stimulation_activities: @activities %>
  <%= render "questionnaire_sessions/section_responses", responses: @responses %>
</div>

<% content_for :bottom_nav do %>
  <%= render "shared/shuby_bottom_nav", active: nil %>
<% end %>
