<% content_for :title, t(".title") %>
<% content_for :page_type, "detail" %>

<div class="container px-4 mx-auto my-8 pb-24">
  <div class="mb-6">
    <%= link_to child_development_stages_path(@child),
        class: "inline-flex items-center shuby-caption hover:text-primary-600" do %>
      <%= render_svg "shuby/icons/icon-chevron-left", size: :sm, styles: "mr-1", decorative: true %>
      <%= @area.name %>
    <% end %>
  </div>

  <%= render "questionnaire_sessions/section_summary", session: @session, questionnaire: @questionnaire, child: @child %>
  <%= render "questionnaire_sessions/section_attention_alert", session: @session %>
  <%= render "questionnaire_sessions/section_warning_signs", warning_signs: @warnings %>
  <%= render "questionnaire_sessions/section_stimulation_activities", stimulation_activities: @activities %>
  <%= render "questionnaire_sessions/section_responses", responses: @responses %>
</div>

<% content_for :bottom_nav do %>
  <%= render "shared/shuby_bottom_nav", active: nil %>
<% end %>
