<% Current.meta_tags.set(title: t(".title")) %>

<% content_for :sidebar, render(partial: "account_navbar") %>

<h1 class="h3"><%= t(".title") %></h1>

<%= form_with(model: current_user, url: account_password_path, local: true, html: { method: :put }, class: "mt-4 max-w-md") do |f| %>
  <%= render "error_messages", resource: current_user %>

  <div class="form-group">
    <%= f.label :current_password %>
    <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "Current password", class: "form-control" %>
    <p class="mt-3 text-sm text-muted"><%= t("devise.registrations.edit.we_need_your_current_password_to_confirm_your_changes") %></p>
  </div>

  <div class="form-group">
    <%= f.label :password, "New password" %>
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "New password", class: "form-control" %>
    <p class="mt-3 text-sm text-muted"><%= t('devise.shared.minimum_password_length', count: User.password_length.min) %></p>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, "Confirm new password" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm new password", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit t(".update"), class: "btn btn-primary" %>
  </div>
<% end %>

<hr>

<h2 class="h4"><%= t(".two_factor.title") %></h2>
<p class="mt-2 mb-4 text-sm text-muted"><%= t(".two_factor.description") %></p>
<% if current_user.otp_required_for_login? %>
  <div><%= link_to t(".two_factor.disable"), user_two_factor_path, class: "btn btn-danger btn-outline", data: { turbo_method: :delete, turbo_confirm: t("are_you_sure") } %></div>

<% else %>
  <%= link_to t(".two_factor.enable"), backup_codes_user_two_factor_path, class: "btn btn-secondary" %>
<% end %>
