<% Current.meta_tags.set(title: t(".title")) %>

<% content_for :sidebar, render(partial: "account_navbar") %>

<div class="max-w-xl mx-auto mt-12">
  <h1><%= t ".title" %></h1>

  <div class="my-8">
    <%= render partial: "billing/subscriptions/summary", locals: { subscription: @subscription } %>
  </div>

  <div class="text-muted"><%= t(".resume") %></div>

  <div class="mt-8 flex justify-between items-center">
    <%= link_to t(".back"), billing_path, class: "btn btn-secondary" %>

    <%= button_to billing_subscription_resume_path(@subscription), method: :patch, class: "btn btn-primary", form: { data: { turbo_confirm: t("are_you_sure") } } do %>
      <%= button_text t(".button"), disable_with: t(".processing") %>
    <% end %>
  </div>
</div>
