<% Current.meta_tags.set(title: t(".title")) %>

<div class="max-w-prose mx-auto max-w-4xl py-6 sm:py-10">
  <h1 class="h2"><%= t(".title") %></h1>
  <p class="mt-2 text-xl text-muted"><%= t(".description", name: Jumpstart.config.application_name) %></p>

  <div class="mt-6 flex flex-col">
    <%= render @announcements %>
    <div class="hidden only:block lg:my-10"><%= t(".empty_placeholder") %></div>
  </div>

  <% if @pagy.last > 1 %>
    <div class="text-center mt-8">
      <%== @pagy.series_nav %>
    </div>
  <% end %>
</div>
