<% Current.meta_tags.set_from(@announcement) %>

<div class="max-w-prose mx-auto max-w-4xl py-6 sm:py-10">
  <%= link_to announcements_path, class: "text-sm font-medium" do %>
    &larr; <%= t(".back") %>
  <% end %>

  <hr>

  <%= link_to local_relative_time(@announcement.published_at, 'weekday-or-date'), @announcement, class: "text-muted text-sm font-medium capitalize" %>

  <h1 class="h2 my-2"><%= @announcement.title %></h1>

  <%= announcement_badge @announcement, class: "my-2" %>

  <div class="mt-6">
    <%= @announcement.description %>
  </div>
</div>
