<% Current.meta_tags.set(title: t(".title")) %>

<div class="container mx-auto px-4 pb-24">
  <div class="my-8">
    <h1 class="shuby-h3 mb-6"><%= t(".title") %></h1>

    <div class="grid gap-4">
      <%= render "settings/section_account" %>
      <%= render "settings/section_preferences" %>
      <%= render "settings/section_sign_out" %>
    </div>
  </div>
</div>

<% content_for :bottom_nav do %>
  <%= render "shared/shuby_bottom_nav", active: "settings" %>
<% end %>
