<!-- Archivio Components -->
<section class="mb-12">
  <h2 class="shuby-h2 mb-6">Archivio Components (from Figma)</h2>

  <%= render "design_system/archivio_page_header" %>
  <%= render "design_system/archivio_badges_links" %>
  <%= render "design_system/archivio_article_cards" %>
  <%= render "design_system/archivio_featured_card" %>
  <%= render "design_system/archivio_reading_time" %>
  <%= render "design_system/archivio_carousel" %>
</section>
