<% content_for :title, "Shuby Design System" %>

<div class="container px-4 mx-auto my-8 max-w-5xl">
  <!-- Header -->
  <div class="mb-12">
    <h1 class="shuby-d1 mb-4">Shuby Design System</h1>
    <p class="shuby-p1">Complete visual foundations based on Figma design tokens and screenshot analysis.</p>
  </div>

  <%= render "design_system/section_colors" %>
  <%= render "design_system/section_typography" %>
  <%= render "design_system/section_buttons" %>
  <%= render "design_system/section_tabs" %>
  <%= render "design_system/section_cards" %>
  <%= render "design_system/section_tappa" %>
  <%= render "design_system/section_info_boxes" %>
  <%= render "design_system/section_badges" %>
  <%= render "design_system/section_tags" %>
  <%= render "design_system/section_form_elements" %>
  <%= render "design_system/section_list_items" %>
  <%= render "design_system/section_progress" %>
  <%= render "design_system/section_backgrounds" %>
  <%= render "design_system/section_bottom_nav" %>
  <%= render "design_system/section_timeline" %>
  <%= render "design_system/section_gestione" %>
  <%= render "design_system/section_icons" %>
  <%= render "design_system/section_new_components" %>
  <%= render "design_system/section_archivio" %>
  <%= render "design_system/section_modal_tappa" %>
  <%= render "design_system/section_illustrations" %>
  <%= render "design_system/section_bottom_nav_demo" %>
  <%= render "design_system/section_css_variables" %>
  <%= render "design_system/section_icons_grid" %>
</div>
