<div class="flex items-center gap-4 mb-4">
  <div class="w-12 h-12 rounded-full flex items-center justify-center"
       style="background-color: <%= area.color || '#E5F2FF' %>20;">
    <span style="color: <%= area.color || '#0159B5' %>;">
      <%= render_svg "shuby/icons/icon-neurodevelopment", size: :lg, decorative: true %>
    </span>
  </div>
  <div class="flex-1">
    <h1 class="shuby-h3"><%= area.name %></h1>
    <p class="shuby-caption"><%= t('development_stages.show.questionnaire_title', month: questionnaire.min_age_months) %></p>

    <% if child.using_corrected_age? %>
      <div class="flex items-center gap-2 mt-2 p-2 bg-primary-50 rounded-lg">
        <span class="shuby-caption text-primary-700">
          <%= t('development_stages.show.corrected_age_info',
                corrected: child.corrected_age_in_months,
                chronological: child.age_in_months) %>
        </span>
        <button type="button"
                data-controller="tooltip"
                data-tooltip-content-value="<%= t('development_stages.show.corrected_age_explanation', name: child.display_name) %>"
                class="flex-shrink-0 text-primary-500 hover:text-primary-700 focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2 rounded-full">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
            <path fill-rule="evenodd" d="M18 10a8 8 0 1 1-16 0 8 8 0 0 1 16 0ZM8.94 6.94a.75.75 0 1 1-1.061-1.061 3 3 0 1 1 2.871 5.026v.345a.75.75 0 0 1-1.5 0v-.5c0-.72.57-1.172 1.081-1.287A1.5 1.5 0 1 0 8.94 6.94ZM10 15a1 1 0 1 0 0-2 1 1 0 0 0 0 2Z" clip-rule="evenodd" />
          </svg>
        </button>
      </div>
    <% end %>
  </div>
</div>
