<%
  state_class = pill_state_class(band, current_band, selected_band, child)
  relationship = pill_relationship(band, current_band, child)
  locked = relationship == "future" && not_subscribed?
%>
<button class="shuby-timeline-pill <%= state_class %> <%= 'locked' if locked %>"
        type="button"
        data-timeline-carousel-target="pill"
        data-band-key="<%= band[:key] %>"
        data-band-relationship="<%= relationship %>"
        data-band-locked="<%= locked %>"
        data-action="click->timeline-carousel#select"
        aria-label="<%= band[:label_type] %> <%= band[:label_number] %>"
        aria-selected="<%= band[:key] == selected_band[:key] %>">
  <% if locked %>
    <span class="shuby-timeline-pill-star" aria-hidden="true">
      <%= render_svg "shuby/icons/icon-premium-star", preserve_fill: true, decorative: true %>
    </span>
  <% end %>
  <span class="shuby-timeline-pill-label"><%= band[:label_type] %></span>
  <span class="shuby-timeline-pill-number"><%= band[:label_number] %></span>
</button>
