<% content_for :title, t(".title", name: @child.name) %>

<div class="container px-4 mx-auto my-8 pb-24">
  <%# Back link %>
  <div class="mb-6">
    <%= link_to child_path(@child), class: "inline-flex items-center shuby-caption hover:text-primary-600" do %>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-4 h-4 mr-1">
        <path fill-rule="evenodd" d="M11.78 5.22a.75.75 0 0 1 0 1.06L8.06 10l3.72 3.72a.75.75 0 1 1-1.06 1.06l-4.25-4.25a.75.75 0 0 1 0-1.06l4.25-4.25a.75.75 0 0 1 1.06 0Z" clip-rule="evenodd" />
      </svg>
      <%= @child.name %>
    <% end %>
  </div>

  <%# Header %>
  <div class="mb-6">
    <h1 class="shuby-h2"><%= t(".title_short") %></h1>
    <p class="shuby-p2"><%= t(".current_band", band: @current_band[:label]) %></p>
  </div>

  <%# Areas list %>
  <div class="space-y-4">
    <% @areas.each do |area| %>
      <% data = @area_sessions[area.id] %>
      <% next unless data %>

      <%= link_to child_development_stage_path(@child, area.slug),
          class: "block shuby-card hover:shadow-md transition-shadow" do %>
        <div class="flex items-center justify-between">
          <div class="flex items-center gap-4">
            <div class="w-12 h-12 rounded-full flex items-center justify-center"
                 style="background-color: <%= area.color || '#E5F2FF' %>20;">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                   class="w-6 h-6" style="color: <%= area.color || '#0159B5' %>;">
                <path fill-rule="evenodd" d="M2.25 13.5a8.25 8.25 0 0 1 8.25-8.25.75.75 0 0 1 .75.75v6.75H18a.75.75 0 0 1 .75.75 8.25 8.25 0 0 1-16.5 0Z" clip-rule="evenodd" />
                <path fill-rule="evenodd" d="M12.75 3a.75.75 0 0 1 .75-.75 8.25 8.25 0 0 1 8.25 8.25.75.75 0 0 1-.75.75h-7.5a.75.75 0 0 1-.75-.75V3Z" clip-rule="evenodd" />
              </svg>
            </div>
            <div>
              <h3 class="shuby-h3"><%= area.name %></h3>
              <p class="shuby-caption">
                <% if data[:session]&.completed? %>
                  <span class="text-green-600"><%= t(".completed") %></span>
                <% elsif data[:session]&.in_progress? %>
                  <span class="text-yellow-600"><%= data[:progress] %></span>
                <% else %>
                  <span class="text-gray-400"><%= t(".not_started") %></span>
                <% end %>
              </p>
              <% if data[:past_in_progress] %>
                <p class="shuby-caption">
                  <span class="text-amber-600 text-xs">
                    <%= t(".past_in_progress", month: data[:past_in_progress].age_band_questionnaire.min_age_months) %>
                  </span>
                </p>
              <% end %>
            </div>
          </div>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5 text-gray-400">
            <path fill-rule="evenodd" d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
          </svg>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<% content_for :bottom_nav do %>
  <%= render "shared/shuby_bottom_nav", active: nil %>
<% end %>
