<% content_for :title, @area.name %>
<% content_for :page_type, "detail" %>

<div class="container px-4 mx-auto my-8 pb-24"
     data-controller="questionnaire-overlay"
     data-questionnaire-overlay-open-class="shuby-questionnaire-overlay--open">
  <div class="mb-6">
    <%= link_to child_development_stages_path(@child), class: "inline-flex items-center shuby-caption hover:text-primary-600" do %>
      <%= render_svg "shuby/icons/icon-chevron-left", size: :sm, styles: "mr-1", decorative: true %>
      <%= t("development_stages.index.title_short") %>
    <% end %>
  </div>

  <% if @past_in_progress_session %>
    <%= render "development_stages/section_past_in_progress",
               session: @past_in_progress_session, child: @child %>
  <% end %>

  <div class="shuby-card mb-6">
    <%= render "development_stages/section_header", area: @area, questionnaire: @questionnaire, child: @child %>
    <%= render "development_stages/section_session_status", current_session: @current_session, child: @child, area: @area %>
  </div>

  <%= render "development_stages/section_history", completed_sessions: @completed_sessions, child: @child %>

  <%= render "questionnaire_sessions/overlay" %>
</div>

<% content_for :bottom_nav do %>
  <%= render "shared/shuby_bottom_nav", active: nil %>
<% end %>
