<div>
  <%= f.label :current_password, class: "shuby-field-label" %>
  <%= f.password_field :current_password, autocomplete: "current-password",
        class: "shuby-input" %>
  <p class="shuby-field-help">
    <%= t("devise.registrations.edit.we_need_your_current_password_to_confirm_your_changes") %>
  </p>
</div>

<div>
  <%= f.label :password, class: "shuby-field-label" %>
  <%= f.password_field :password, autocomplete: "new-password",
        class: "shuby-input" %>
  <% if @minimum_password_length %>
    <p class="shuby-field-help">
      <%= t("devise.shared.minimum_password_length", count: @minimum_password_length) %>
    </p>
  <% end %>
</div>

<div>
  <%= f.label :password_confirmation, class: "shuby-field-label" %>
  <%= f.password_field :password_confirmation, autocomplete: "new-password",
        class: "shuby-input" %>
</div>
