<% Current.meta_tags.set(title: t(".title")) %>

<% content_for :sidebar, render(partial: "account_navbar") %>

<h1 class="h3 mb-2">
  <%= link_to t(".billing"), billing_path %>

  <svg class="inline-block shrink-0 h-5 w-5 text-muted" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
    <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
  </svg>

  <%= t(".title") %>
</h1>

<% if @subscription.past_due? || @subscription.unpaid? %>
  <p class="text-red-600"><%= t ".past_due" %></p>
<% end %>

<%= render "billing/subscriptions/payment_methods/forms/fake_processor", subscription: @subscription if @payment_processor.fake_processor? %>
<%= render "billing/subscriptions/payment_methods/forms/braintree", subscription: @subscription if Jumpstart.config.braintree? && @payment_processor.braintree? %>
<%= render "billing/subscriptions/payment_methods/forms/paypal", subscription: @subscription if Jumpstart.config.paypal? && @payment_processor.braintree? %>
