<% content_for :title, "Announcements" %>
<% content_for :subtitle do %>
  Announcements are a way for you to notify users of new features, changes, and improvements you've made to your product.
<% end %>

<%= h2_with_anchor "Viewing Announcements" %>

<p>Announcements are shown in the navbar under <%= link_to "What's New", main_app.announcements_path, target: :_blank %>.</p>
<p>When a user has unread announcements, a red dot will show up next to this link to get their attention that they haven't seen the latest announcements.</p>
<p>After viewing the announcements page, the user will have their account updated to record the last time they viewed the announcements and the red dot will be hidden until there are new announcements published that they haven't seen.</p>
<p>Users who aren't logged in will always see the red dot next to "What's New" in the navbar.</p>

<%= h2_with_anchor "Creating  Announcements" %>

<p>To create an announcement, login as an admin and visit <%= link_to "/madmin/announcements", main_app.madmin_announcements_path, target: :_blank %>.</p>

<%= h2_with_anchor "Announcement Types" %>

<p>Jumpstart Pro comes with 4 default announcement types.</p>

<p><%= announcement_badge Announcement.new(kind: "new") %></p>
<p><%= announcement_badge Announcement.new(kind: "update") %></p>
<p><%= announcement_badge Announcement.new(kind: "improvement") %></p>
<p><%= announcement_badge Announcement.new(kind: "fix") %></p>

<%= h2_with_anchor "Adding Announcement Types" %>

<p>You can add more by adding to the <code>TYPES</code> constant in <code>app/models/announcements.rb</code> and the matching colors in <code>app/helpers/announcements_helper.rb</code>.</p>
