<%# One row in the measurement history list. Figma: node 621:10642.
  Locals:
    measurement - Measurement instance for this row
    child       - the child record (for age-at-measurement formatting)
%>
<li class="shuby-measurement-detail-history__row">
  <span class="shuby-measurement-detail-history__date">
    <%= measurement.measured_at.strftime("%d . %m . %Y") %>
  </span>
  <span class="shuby-measurement-detail-history__age">
    <%= child.detailed_age_display_at(measurement.measured_at) %>
  </span>
  <span class="shuby-measurement-detail-history__value"
        data-controller="unit-display"
        data-unit-display-si-value-value="<%= measurement.value %>"
        data-unit-display-type-value="<%= measurement.measurement_type %>"
        data-unit-display-system-value="<%= current_user.measurement_unit %>"
        data-unit-display-format-value="value-unit">
    <%= measurement_formatted_value(measurement) %> <%= measurement_unit_label(measurement) %>
  </span>
</li>
