<%= native_form_tag %>
<% content_for :title, t("measurements.new.title") %>

<div class="container px-4 mx-auto my-8 pb-24">
  <%= render "shared/ui/back_link",
      path: child_path(@child, tab: "measurements"),
      label: @child.display_name,
      class: "mb-6" %>

  <%= turbo_frame_tag "measurement_form", class: "flex flex-col flex-1" do %>
    <h1 id="measurement_overlay_title" class="shuby-measurement-overlay-title">
      <%= t("measurements.types.#{@measurement.measurement_type || 'weight'}") %>
    </h1>
    <%= render "form", context: :overlay %>
  <% end %>
</div>
