<%= native_form_tag %>
<div class="w-full">
  <%= render "onboarding/section_header" %>

  <%= form_with url: onboarding_path, method: :post, class: "space-y-6", data: { turbo: false } do |form| %>
    <%= render "onboarding/section_errors", child: @child, family_profile: @family_profile, account_user: @account_user %>
    <%= render "onboarding/section_child_fields", child: @child %>
    <%= render "onboarding/section_relationship_and_languages", account_user: @account_user, family_profile: @family_profile %>
    <%= render "onboarding/section_consent_and_submit", form: form %>
  <% end %>
</div>
