<%# Article card using shuby-card-article design %>
<%= link_to archive_path(content.slug), class: "block" do %>
  <div class="shuby-card-article">
    <div class="shuby-card-article-image">
      <% if content.cover_image.attached? %>
        <%= image_tag content.cover_image, alt: content.title %>
      <% else %>
        <%# Default placeholder with archivio illustrations - cycle through based on content id %>
        <% archivio_images = ["shuby/illustrations/archivio-1.svg", "shuby/illustrations/archivio-2.svg", "shuby/illustrations/archivio-3.svg"] %>
        <% image_index = content.id % 3 %>
        <%= image_tag archivio_images[image_index], alt: "", class: "w-full h-full object-cover" %>
      <% end %>
    </div>
    <div class="shuby-card-article-content">
      <div class="shuby-card-article-tags">
        <% if content.category.present? %>
          <span class="shuby-tag shuby-tag-info">
            <span class="shuby-tag-icon">
              <%= render_svg category_icon_for(content.category), styles: "w-3 h-3" %>
            </span>
            <%= content.category %>
          </span>
        <% end %>
        <span class="shuby-tag shuby-tag-default"><%= content.age_range_label %></span>
      </div>
      <p class="shuby-card-article-title"><%= content.title %></p>
      <% if content.description.present? %>
        <p class="shuby-card-article-description"><%= content.description %></p>
      <% end %>
    </div>
  </div>
<% end %>
