<% scope = "archive.index" %>
<% card_locals_hash = local_assigns.fetch(:card_locals, {}) %>

<section class="mb-8">
  <%= render "shared/ui/section_header", title: t("sections.#{section_key}", scope: scope) %>
  <% if items.any? %>
    <div class="space-y-3">
      <% items.each do |item| %>
        <%= render card_partial, content: item, favorite_ids: local_assigns[:favorite_ids], **card_locals_hash %>
      <% end %>
    </div>
    <div class="text-right mt-4">
      <%= link_to archive_index_path(type: filter_type), class: "shuby-link-arrow shuby-link-arrow-sm" do %>
        <%= t("sections.all_#{section_key}", scope: scope) %>
        <span class="shuby-link-arrow-icon"><%= render_svg "shuby/icons/icon-arrow-right" %></span>
      <% end %>
    </div>
  <% else %>
    <p class="shuby-p2 text-gray-500"><%= t("sections.no_#{section_key}", scope: scope) %></p>
  <% end %>
</section>
