<% Current.meta_tags.set(title: t(".title")) %>

<% content_for :sidebar, render(partial: "account_navbar") %>

<div class="sm:flex items-center justify-between mb-3">
  <h1 class="flex-1 h3"><%= t(".title") %></h1>

  <div>
    <%= link_to t(".create"), new_account_path, class: "btn btn-primary" if Jumpstart.config.team_accounts? %>
  </div>
</div>

<table class="w-full">
  <tbody class="divide-y divide-gray-100 dark:divide-gray-800">
    <% @accounts.sorted.each do |account| %>
      <tr class="group">
        <td class="p-3">
          <%= link_to account, class: "flex items-center gap-3" do %>
            <%= account_avatar account %>
            <%= tag.span account.name, class: "text-gray-900 dark:text-gray-100 font-semibold text-sm no-underline hover:text-primary-500 dark:hover:text-primary-500" %>
            <%= badge "Personal" if account.personal_account_for?(current_user) %>
          <% end %>
        </td>

        <td class="text-sm text-muted">
          <%= pluralize account.users.size, t(".user") %>
        </td>

        <td class="hidden sm:table-cell text-sm text-right">
          <% if current_account != account %>
            <%= switch_account_button account, label: t(".switch"), class: "btn btn-secondary" %>
          <% else %>
            <%= badge t(".current") %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if @pagy.last > 1 %>
  <div class="my-6 text-center">
    <%== @pagy.series_nav %>
  </div>
<% end %>
