<%# locals: (default_class: "block no-underline py-2 px-3 rounded", active_class: "bg-gray-100 dark:bg-gray-800", inactive_class: "hover:bg-gray-100 dark:hover:bg-gray-800") -%>

<nav class="text-sm font-semibold space-y-1">
  <%= nav_link_to t(".profile"), edit_user_registration_path, class: default_class, active_class: active_class, inactive_class: inactive_class %>
  <%= nav_link_to t(".password"), edit_account_password_path, class: default_class, active_class: active_class, inactive_class: inactive_class %>
  <% if Devise.omniauth_configs.any? %>
    <%= nav_link_to t(".connected_accounts"), user_connected_accounts_path, class: default_class, active_class: active_class, inactive_class: inactive_class %>
  <% end %>
  <% if Jumpstart.config.payments_enabled? && !hotwire_native_app? %>
    <%= nav_link_to t(".billing"), billing_path, class: default_class, active_class: active_class, inactive_class: inactive_class, starts_with: "/billing" %>
  <% end %>
  <%= nav_link_to t(".accounts"), accounts_path, class: default_class, active_class: active_class, inactive_class: inactive_class, starts_with: "/accounts" if Jumpstart.config.team_accounts? %>
  <%= nav_link_to t(".api_tokens"), api_tokens_path, class: default_class, active_class: active_class, inactive_class: inactive_class, starts_with: "/api_tokens" %>
  <% if defined? Refer %>
    <%= nav_link_to t(".referrals"), referrals_path, class: default_class, active_class: active_class, inactive_class: inactive_class, starts_with: "/referrals" %>
  <% end %>
</nav>
