<h5 class="my-4 border-b border-gray-100 dark:border-gray-800 pb-2"><%= t(".title") %></h5>

<% if (charges = current_account.pay_charges.sorted) && charges.any? %>
  <table class="w-full text-sm">
    <thead>
      <tr>
        <th class="p-3 uppercase text-left text-xs text-muted"><%= t ".date" %></th>
        <th class="p-3 uppercase text-left text-xs text-muted"><%= t ".amount" %></th>
        <th class="p-3 uppercase text-center text-xs text-muted"><%= t ".invoice" %></th>
        <th class="p-3 uppercase text-center text-xs text-muted"><%= t ".receipt" %></th>
      </tr>
    </thead>

    <tbody>
      <% charges.each do |charge| %>
        <tr class="group border-t border-gray-100 dark:border-gray-800 hover:bg-gray-50 dark:hover:bg-gray-900">
          <td class="p-3 font-medium text-muted"><%= charge.created_at.strftime("%B %e, %Y") %></td>
          <td class="p-3 text-muted"><%= pay_amount_to_currency(charge) %></td>
          <td class="p-3 text-center text-muted">
            <%= link_to invoice_billing_charge_path(charge, format: :pdf), target: :_blank do %>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5 text-muted inline-block">
                <path d="M10.75 2.75a.75.75 0 0 0-1.5 0v8.614L6.295 8.235a.75.75 0 1 0-1.09 1.03l4.25 4.5a.75.75 0 0 0 1.09 0l4.25-4.5a.75.75 0 0 0-1.09-1.03l-2.955 3.129V2.75Z" />
                <path d="M3.5 12.75a.75.75 0 0 0-1.5 0v2.5A2.75 2.75 0 0 0 4.75 18h10.5A2.75 2.75 0 0 0 18 15.25v-2.5a.75.75 0 0 0-1.5 0v2.5c0 .69-.56 1.25-1.25 1.25H4.75c-.69 0-1.25-.56-1.25-1.25v-2.5Z" />
              </svg>
            <% end %>
          </td>
          <td class="p-3 text-center text-sm text-muted">
            <%= link_to billing_charge_path(charge, format: :pdf), target: :_blank do %>
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-5 text-muted inline-block">
                <path d="M10.75 2.75a.75.75 0 0 0-1.5 0v8.614L6.295 8.235a.75.75 0 1 0-1.09 1.03l4.25 4.5a.75.75 0 0 0 1.09 0l4.25-4.5a.75.75 0 0 0-1.09-1.03l-2.955 3.129V2.75Z" />
                <path d="M3.5 12.75a.75.75 0 0 0-1.5 0v2.5A2.75 2.75 0 0 0 4.75 18h10.5A2.75 2.75 0 0 0 18 15.25v-2.5a.75.75 0 0 0-1.5 0v2.5c0 .69-.56 1.25-1.25 1.25H4.75c-.69 0-1.25-.56-1.25-1.25v-2.5Z" />
              </svg>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  <p class="text-muted"><%= t(".empty") %></p>
<% end %>
