<% Current.meta_tags.set(title: t(".title")) %>

<% content_for :sidebar, render(partial: "account_navbar") %>

<h1 class="h3"><%= t(".title") %></h1>

<% if account_admin?(current_account, current_user) %>
  <h5 class="with-border"><%= t(".subscriptions") %></h5>

  <% if @subscriptions.any? %>
    <%= render partial: "billing/subscriptions/subscription", collection: @subscriptions %>
  <% else %>
    <div class="mb-8 flex">
      <div class="flex-1 mt-2 text-muted"><%= t ".not_subscribed" %></div>
      <div><%= link_to t(".choose_plan"), pricing_path, class: "btn btn-primary" %></div>
    </div>
  <% end %>

  <%= render partial: "email" %>
  <%= render partial: "info" %>
  <%= render partial: "charges" %>
<% else %>
  <p><%= t(".contact_admin", account: current_account.name) %></p>
<% end %>
