<!DOCTYPE html>
<html class="<%= class_names("hotwire-native": hotwire_native_app?) %>" lang="<%= I18n.locale %>" data-theme="shuby">
  <head>
    <%= render "head" %>
  </head>
  <body data-controller="theme bridge--menu-button <%= "bridge--notification-token" if user_signed_in? %>" data-theme-preference-value="shuby">
    <div class="grid-layout-wrapper">
      <header class="native-inset-top">
        <%= impersonation_banner %>
        <%= render "flash" %>
        <%= render "navbar" unless content_for?(:hide_navbar) %>
      </header>

      <main>
        <%= content_for?(:content) ? yield(:content) : yield %>
      </main>

      <%= render "footer" unless hotwire_native_app? || content_for?(:hide_footer) %>
    </div>

    <%= native_tabs_tag if user_signed_in? %>
    <%= native_badge_tag(@notification_counts&.values&.sum || 0) if user_signed_in? && defined?(@notification_counts) %>
    <%= yield :bottom_nav %>
  </body>
</html>
