<!DOCTYPE html>
<html class="<%= class_names("hotwire-native": hotwire_native_app?) %>" lang="<%= I18n.locale %>" data-theme="shuby">
  <head>
    <%= render "head" %>
  </head>
  <body data-controller="theme bridge--menu-button <%= "bridge--notification-token" if user_signed_in? %>" data-theme-preference-value="shuby">
    <div class="grid-layout-wrapper">
      <header>
        <%= impersonation_banner %>
        <%= render "flash" %>
        <%= render "navbar" %>
      </header>

      <main>
        <%= content_for?(:content) ? yield(:content) : yield %>
      </main>

      <%= render "footer" unless hotwire_native_app? %>
    </div>

    <%= yield :bottom_nav %>
  </body>
</html>
